{% extends 'base.html' %}
{% block content %}
    <div class="main-ep">
        <article class="profile">
            <div id="pass-ch">
                 <h2>Change Password</h2>
                  <form method="post">
                    {% csrf_token %}
                    <label for="current_password">Current Password:</label>
                    <input type="password" name="current_password" required><br>
                    <label for="new_password">New Password:</label>
                    <input type="password" name="new_password" required><br>
                    <label for="confirm_new_password">Confirm New Password:</label>
                    <input type="password" name="confirm_new_password" required><br>
                      <p></p>
                    <button class="profile-button" type="submit">Change Password</button>
                  </form>
            </div>


        </article>
    </div>
{% endblock %}