{% extends "base.html" %}
{% block content %}
    <div class="main-ep">
        <article class="profile">
          <h2>Confirm Deletion</h2>
        
          <p>Are you sure you want to delete your profile?</p>
            
            <form method="post">
            {% csrf_token %}
            <input class="profile-button" type="submit" value="Delete">
                <button class="profile-button"><a  class="profile-a" href="{% url 'profile' %}">Cancel</a></button> 

            </form>
        

          </article>
    </div>
{% endblock %}