{% extends "base.html" %}

{% block content %}
   <div class="main-reg">
        <article class="reg-form">
            
              <h1 class="regis-title">Login</h1>
                <p>If you don`t have registration? 
                    <button class="profile-button">
                        <a class="profile-a" href="{% url 'register' %}">Register here</a>
                    </button>
                </p>
              <form class="form-register" method="post">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="message">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
            
                <button class="profile-button" type="submit">Login</button>
            
            {#    <button><a href="{% url 'register' %}">Register</a></button>#}
            {#   <button><a href="{% url 'home' %}">Home</a></button>#}
            {#  <button><a href="{% url 'password_reset' %}">Password reset</a></button>#}
            
              </form>
            
        </article>
    </div>
{% endblock %}