{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dessert Heaven</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-bar">

            <div class="name">
                <img id="logo"   src="../static/images/ice-cream-cone-25398_640.png" alt="logo">
                <a class="title" href="{% url 'home' %}">Desserts Heaven</a>

            </div>
            <h1></h1>
            <ul class="links">
                <li><a class="nav-li" href="{% url 'recipe_list' %}">Recipes</a></li>
                {% if user.is_authenticated %}
                
                <li><a class="nav-li" href="{% url 'add_recipe' %}">Add recipe</a></li>
                <li><a  class="nav-li"  href="{% url 'profile' %}">My profile</a></li>
                <li><a  class="nav-li" href="{% url 'logout' %}" >Logout</a></li>
                {% else %}
                <li><a  class="nav-li" href="{% url 'register' %}" >Register</a></li>
                <li><a  class="nav-li" href="{% url 'login' %}" >Login</a></li>
                {% endif %}
                
                
                </ul>
        </nav>

    </header>
    <hr class='down'>

    {% block content %}
    {% endblock %}


    <footer>
        <div class="foot">
            <hr class='down'>
            <div class="mark">
                <div>Powered by Ellie.</div>
                <div class="icons">
                    <a class="icon" href="#"><i class="fas fa-phone-alt">+359 99 99 99 99 </i></a>
                    <a class="icon" href="#"><i class="fab fa-twitter-square"></i></a>
                    <a class="icon" href="#"><i class="fab fa-facebook-square"></i></a>
                    <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                </div>


            </div>
        </div>

    </footer>
</body>
</html>