
{% extends 'base.html' %}
{% block content %}
    
    <body>
    <div class="sidebar">
    <a href=""><h3>Categories</h3></a>
        <a href="{% url 'recipe_list_by_category' category='Cakes' %}">Cakes</a>
        <a href="{% url 'recipe_list_by_category' category='Ice creams' %}">Ice creams</a>
        <a href="{% url 'recipe_list_by_category' category='Cookies' %}">Cookies</a>
        <a href="{% url 'recipe_list_by_category' category='Candies' %}">Candies</a>
        <a href="{% url 'recipe_list_by_category' category='Pies' %}">Pies</a>
        <a href="{% url 'recipe_list_by_category' category='Tarts' %}">Tarts</a>
        <a href="{% url 'recipe_list_by_category' category='Pouddings' %}">Puddings</a>
        <a href="{% url 'recipe_list_by_category' category='Vegan' %}">Vegan</a>
        <a href="{% url 'recipe_list_by_category' category='Other' %}">Other</a>
    </div>
    <div class="info">
        <h1 id="sec-title">
            Welcome to Sweet paradise!</h1>
        <p id="info-text">Place for sharing recipes, especially for desserts. Find the perfect dinner finish!</p> 
    </div>
    
    <div class="images">
        <img class="info-pic" src="../static/images/ice-cream-3611698_640.jpg" alt="#">
        
        </div> 

</body>




    
{% endblock %}