
{% extends 'base.html' %}
{% block content %}
    
    <body>
    <div class="sidebar">
    <a href=""><h3>Categories</h3></a>
        <a href="{% url 'recipe_list_by_category' 'cakes' %}">Cakes</a>
        <a href="{% url 'recipe_list_by_category' 'ice cream' %}">Ice creams</a>
        <a href="{% url 'recipe_list_by_category' 'cookies' %}">Cookies</a>
        <a href="{% url 'recipe_list_by_category' 'candies' %}">Candies</a>
        <a href="{% url 'recipe_list_by_category' 'pies' %}">Pies</a>
        <a href="{% url 'recipe_list_by_category' 'tarts' %}">Tarts</a>
        <a href="{% url 'recipe_list_by_category' 'puddings' %}">Puddings</a>
        <a href="{% url 'recipe_list_by_category' 'vegan' %}">Vegan</a>
        <a href="{% url 'recipe_list_by_category' 'other' %}">Other</a>
    </div>
    <div class="info">
        <h1 id="sec-title">
            Welcome to Sweet paradise!</h1>
        <p id="info-text">Place for sharing recipes, especially for desserts. Find the perfect dinner finish!</p> 
    </div>
    
    <div class="images">
        <img class="info-pic" src="../static/images/ice-cream-3611698_640.jpg" alt="#">
        
        </div> 

</body>




    
{% endblock %}