{% extends 'base.html' %}

{% block content %}
    <div id="add-recipe">
        <div class="art">
          <h2>Add Recipe</h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div id="ingredient-container">
              <textarea class="ingredient-input" rows="1" name="ingredients_0" placeholder="Ingredient with amount"></textarea>
            </div>
            <button class="profile-button" type="button" id="add-ingredient">Add Another Ingredient and Amount</button>
        
            <div id="direction-container">
              <textarea class="direction-input" rows="7" name="directions_0" placeholder="Please provide detail description of the step!"></textarea>
            </div>
            <button class="profile-button" type="button" id="add-direction" >Add Direction</button>
        
            <button class="profile-button" type="submit">Add Recipe</button>
          </form>
        
          <script>
            const addIngredientButton = document.getElementById('add-ingredient');
            const addDirectionButton = document.getElementById('add-direction');
            const ingredientContainer = document.getElementById('ingredient-container');
            const directionContainer = document.getElementById('direction-container');
            let ingredientCounter = 1;
            let directionCounter = 1;
        
            addIngredientButton.addEventListener('click', () => {
              const ingredientInput = document.createElement('textarea');
              ingredientInput.className = 'ingredient-input';
              ingredientInput.rows = 1;
              ingredientInput.name = `ingredients_${ingredientCounter}`;
              ingredientContainer.appendChild(ingredientInput);
              ingredientCounter++;
            });
        
            addDirectionButton.addEventListener('click', () => {
              const directionInput = document.createElement('textarea');
              directionInput.className = 'direction-input';
              directionInput.rows = 7;
              directionInput.name = `directions_${directionCounter}`;
              directionContainer.appendChild(directionInput);
              directionCounter++;
            });
          </script>
        </div>
    </div>
{% endblock %}
