{% extends 'base.html' %}

{% block content %}
  <h2>{{ recipe.name }}</h2>
  <p>{{ recipe.short_description }}</p>
  <p>{{ recipe.prep_time }}</p>
  <p>{{ recipe.cook_time }}</p>
  <p>{{ recipe.cool_time }}</p>
  <p>{{ recipe.freeze_time }}</p>
  <p>{{ recipe.total_time }}</p>
    <img src="{{ recipe.image.url }}" alt="">

    {% for ing in recipe.ingredients %}
        <p>{{ ing }}</p>
    {% endfor %}
    {% for step in recipe.directions %}
        <p>{{ step }}</p>
    {% endfor %}

  <p>{{ recipe.calories }}</p>
  <p>{{ recipe.carbs }}</p>
  <p>{{ recipe.protein }}</p>



  <a href="{% url 'update_recipe' pk=recipe.pk %}">Edit Recipe</a>
  <a href="{% url 'delete_recipe' pk=recipe.pk %}">Delete Recipe</a>
{% endblock %}
