{% extends 'base.html' %} }
{% block content %}
    {%  for recipe in recipes %}
        <h2>{{ recipe.name }}</h2>
          <p>{{ recipe.short_description }}</p>
          <p>prep time{{ recipe.prep_time }} min</p>
          <p>cook time{{ recipe.cook_time }} min </p>
          <p>cool time{{ recipe.cool_time }}</p>
          <p>{{ recipe.freeze_time }}</p>
          <p>{{ recipe.total_time }}</p>
            {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="">
            {% endif %}
            <ul>
            {% for ing in recipe.ingredients %}

                <li>
                    {{ ing }}
                </li>


            {% endfor %}
            </ul>
            {% for step in recipe.directions %}
                <p>{{ step }}</p>
            {% endfor %}

          <p>{{ recipe.calories }}</p>
          <p>{{ recipe.carbs }}</p>
          <p>{{ recipe.protein }}</p>
            <a href="{% url 'recipe_detail' pk=recipe.pk %}">Recipe detail </a>
        {% if recipe.user == request.user %}
            <a href="{% url 'update_recipe' pk=recipe.pk %}">Edit recipe</a>
            <a href="{% url 'delete_recipe' pk=recipe.pk %}">Delete recipe </a>

        {% endif %}
    {% endfor %}
{% endblock %}