{% extends 'base.html' %}

{% block content %}
  <h2>{{ recipe.name }}</h2>
  <p>{{ recipe.short_description }}</p>
  <p>{{ recipe.prep_time }}</p>
  <p>{{ recipe.cook_time }}</p>
  <p>{{ recipe.cool_time }}</p>
  <p>{{ recipe.freeze_time }}</p>
  <p>{{ recipe.total_time }}</p>
    <img src="{{ recipe.image.url }}" alt="">
    <p>{{ recipe.image }}</p>
{% for ing in recipe.ingredients %}
    <p>{{ ing }}</p>
{% endfor %}
  <p>{{ recipe.directions }}</p>
  <p>{{ recipe.calories }}</p>
  <p>{{ recipe.carbs }}</p>
  <p>{{ recipe.protein }}</p>



  <a href="{% url 'edit_recipe' recipe.pk %}">Edit Recipe</a>
  <a href="{% url 'delete_recipe' recipe.pk %}">Delete Recipe</a>
{% endblock %}
