{% extends 'base.html' %}

{% block content %}
  <h2>{{ recipe.name }}</h2>
  <p>{{ recipe.short_description }}</p>
  <p>{{ recipe.prep_time }}</p>
  <p>{{ recipe.cook_time }}</p>
  <p>{{ recipe.cool_time }}</p>
  <p>{{ recipe.freeze_time }}</p>
  <p>{{ recipe.total_time }}</p>
    <img src="{{ recipe.image.url }}" alt="">

    {% for ing in recipe.ingredients %}
        <p>{{ ing }}</p>
    {% endfor %}
    {% for step in recipe.directions %}
        <p>{{ step }}</p>
    {% endfor %}

  <p>{{ recipe.calories }}</p>
  <p>{{ recipe.carbs }}</p>
  <p>{{ recipe.protein }}</p>


{% if user.is_authenticated %}
    {% if recipe.user == request.user %}
        <a href="{% url 'update_recipe' pk=recipe.pk %}">Edit recipe</a>
        <a href="{% url 'delete_recipe' pk=recipe.pk %}">Delete recipe </a>
    {% endif %}
    {% if user != recipe.user %}
        {% if not user_has_reviewed %}
            <form method="post" action="{% url 'add_review' recipe.pk %}">
            {% csrf_token %}
            <input type="hidden" name="review_submitted" value="True">
            <p>You can leave review here</p>
            <button type="submit">I Made It</button>

            </form>
        {% else %}
            <p>You have already left a review for this recipe.</p>
        {% endif %}
    {% endif %}
{% endif %}
 <h3>Reviews</h3>
  {% if recipe.review_set.all %}
    <ul>
      {% for review in recipe.review_set.all %}
        <li>
          <strong>{{ review.user.email }}:</strong>
          <p>{{ review.comment }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No reviews yet.</p>
  {% endif %}


  <!-- Display the average rating -->
  <p>Average Rating: {{ average_rating|default:0 }}</p>
{% endblock %}
